* {
  background-color: #83AFA6;
}

img {
  height: 120px;
  width: 150px;
  border: solid 1px black;
  margin-bottom: 10px;
}


.navButton {
    font-family: 'Koulen', cursive;
    font-size: 25px;
    border: solid  #E3D9CA 1px;
}

.navButton:hover {
color: #D3A284;
background-color: #50a08f
}

