header {

     background-color: #83AFA6
}

header h1 {
    color: black;
    text-align: center;
    font-size: 70px;
    margin-top: 40px;
  font-family: 'Special Elite', cursive;

}

header h2 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Special Elite', cursive;

}

.navButton {
    font-family: 'Koulen', cursive;
    font-size: 25px;
    border: solid  #E3D9CA 1px;
}

.navButton:hover {
color: #D3A284;
}