
.rockNameLink {
    text-decoration: none;
    font-family: 'Blinker', sans-serif; 
   color: black;
}

.redirectLink:hover {
        color: white;


}

 .rockCards {
     margin: 20px 15px;
     background-color: #83AFA6;
     min-width: 250px;
     max-width: 300px;
     height: 450px;
     margin-left:10px;
     flex-wrap: wrap;
     border: solid 2px black;
     border-radius: 6px;
     
 }

 h4 {
     font-weight: bold;
 }

 .deleteRockBtn {
     font-size: 15px;
     font-weight: bold;
     border: solid #352920 2px;
     background-color: black;
     color: white;
     margin-bottom: 30px;

 }

 .rockContainer {
     flex-wrap: wrap;
     flex-direction: column;
 }

