body {
    font-family: 'Blinker', sans-serif
}


.cardHeader h1 {
    background-color: black;
    color: white;
}

.cardBody {
    border-radius: 50px;
}

.submitButton {
    margin-top: 20px;
    padding: 5px 10px;
    font-family: 'Koulen', cursive;
    font-size: 25px;
    border: solid  #E3D9CA 1px;
    border-radius: 10px;
}

.submitButton:hover {
color: #D3A284;
background-color: #50a08f;
}

label {
    font-family: 'Blinker', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

input {
     margin-top: 10px;
    margin-bottom: 10px
}

textarea {
    background-color: white;
    height: 80px;
}

.redirectLink {
    text-decoration: none;
    font-family: 'Blinker', sans-serif;
    font-weight: bolder;
}

.redirectLink:hover {
    transform: scale(1.2);
}

h2 {
    padding-bottom: 10px;
    font-size: 20px;
}

input {
    background-color: white;;
}

#submitNew {
    font-size: 20px;
    padding: 10px 30px;
}

#newRock {
    font-family: 'Koulen', cursive;
    font-size: 30px;
    margin-bottom: 40px;

}